<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Twitter Clone</title>
</head>
    {{ request.user.useremail}}
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">{{ user.email }} logout</a>
    {% else %}
    <a href="{% url 'login' %}"> login </a><br>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}

<body>
<h1><a href="{% url 'main' %}">Twitter Clone</a></h1>
{% block content %}
    <h1>This is only skill show site by Maciej Krywult </h1>
    <h2> Enjoy!</h2>
{% endblock content %}

</body>
